<div class="shopping-item">
    <a href="@Url.Action("GioHang","GioHang")">Cart - <span class="cart-amunt">@ViewBag.TongTien VND</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">@ViewBag.TongSoLuong</span></a>
</div>
